.MapView {
    height: 100%;

    .leaflet-control-container {
        display: none;
    }

    .leaflet-marker-icon {
        background-color: initial;
        border: none;

        svg {
            z-index: 1000;
            opacity: 0.7;
        }

        &.active {
            z-index: 1000 !important;
        }

        &:hover {
            filter: brightness(1.2) !important;
            z-index: 1000 !important;
        }
    }
}