$color1: rgb(37,39,77,);
$color2: rgb(70,72,102);
$color3: rgb(170,171,184);
$color4: rgb(46,156,202);
$color5: rgb(41,100,138);


.service-color--1 {
    $color: #0084ff;
    stroke: $color !important;
    color: $color !important;
}

.service-color--2 {
    $color: #44bec7;
    stroke: $color !important;
    color: $color !important;
}

.service-color--3 {
    $color: #ffc300;
    stroke: $color !important;
    color: $color !important;
}

.service-color--4 {
    $color: #fa3c4c;
    stroke: $color !important;
    color: $color !important;

}

.service-color--5 {
    $color: #d696bb;
    stroke: $color !important;
    color: $color !important;

}

.service-color--6 {
    $color: #6699cc;
    stroke: $color !important;
    color: $color !important;

}

.service-color--7 {
    $color: #13cf13;
    stroke: $color !important;
    color: $color !important;

}

.service-color--8 {
    $color: #ff7e29;
    stroke: $color !important;
    color: $color !important;

}

.service-color--9 {
    $color: #e68585;
    stroke: $color !important;
    color: $color !important;

}

.service-color--10 {
    $color: #ad8fff;
    stroke: $color !important;
    color: $color !important;

}

.service-color--11 {
    $color: #20cef5;
    stroke: $color !important;
    color: $color !important;

}

.service-color--12 {
    $color: #67b868;
    stroke: $color !important;
    color: $color !important;

}

.service-color--13 {
    $color: #d4a88c;
    stroke: $color !important;
    color: $color !important;

}

.service-color--14 {
    $color: #ff5ca1;
    stroke: $color !important;
    color: $color !important;
}

.service-color--15 {
    $color: #a695c7;
    stroke: $color !important;
    color: $color !important;
}

.service-color--16 {
    $color: #d7a2c9;
    stroke: $color !important;
    color: $color !important;
}