h1, h2, h3, h4 {
    margin: 0 0 0.5rem 0;
    color: black;
    font-family: 'Noto Serif', serif;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

h2 {
    font-size: 1.75rem;
    font-weight: 400;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}