.pill {
    background-color: #fff;
    border: 1px solid $color3;
    border-radius: 2rem;
    color: $color2;
    display: inline-block;
    font-size: .8rem;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: box-shadow .2s linear;
    font-family: 'Noto Sans KR', sans-serif;

    &:hover {
        color: $color5;
        border: 1px solid $color5;
        transform: translateY(-2px);
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
    }
}