.header {
    height: 60px;
    background-color: $color1;
    padding: 0 0.5rem;
    display: flex;

    h1 {
        font-size: 2rem;
        color: white;
        display: inline-block;
        margin: auto 0;
        padding: 0.5rem;
    }
}