.ChartView {
    overflow-y: scroll;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem;

    .charts-row {
        display: flex;
        margin-bottom: 2rem;

        div:not(:last-child) {
            margin-right: 3rem;
        }

        &__single {
            div {
                position: relative;
                height: 50%;
                width: 100%;
            }
        }
    }
}
