.arrivals__list {
    overflow: hidden;
    font-family: 'Ticker';
    padding: 0 0.5rem;

    &--title {
            font-family: inherit;
            font-weight: normal;
            display: inline-block;
            color: wheat;
            background-color: #494949;
            text-transform: uppercase;
            padding: 0.5rem;
            margin: 0 0 0.5rem;
    }

    &--table {
        color: orange;
        width: 100%;
        text-align: left;
        margin: 0 0 0.5rem;

        th {
            font-weight: normal;
        }

        tr {
            background-color: #1f1f1f;
            > * {
                padding-left: 0.25rem;
            }
            & > *:nth-child(1) {
                width: 15%;
            }
            & > *:nth-child(2) {
                width: 10%;
            }
            & > *:nth-child(3) {
                width: 40%;
            }
            & > *:nth-child(4) {
                width: 35%;
            }

            cursor: pointer;
        }

        tbody tr {

            &:hover, &.active {
                filter: brightness(1.5) !important;
            }
        }   
    }
}