.InteractionMenu {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 1000;
    height: calc(100% - 120px);
    width: 350px;
    background-color: #2b2b2b;
    box-shadow: -10px 5px 20px -10px rgba(128, 128, 128, 0.75);
    transform: translateX(350px);
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateX(0);
    }

    &.active {
        transform: translateX(0);
    }

    &::-webkit-scrollbar { width: 0 !important }

    &__search-bar {
        background-color: orange;
        min-height: 4.5rem;
        transition: all 0.2s ease-in-out;
    }

    &__insight {
        display: flex;
        flex-direction: column;
        background-color: #313131;
        order: 0;
        flex: 1 1 auto;
        align-self: stretch;

        &--title {
            font-family: 'Ticker';
            font-weight: normal;
            color: orange;
            background-color: #494949;
            text-transform: uppercase;
            padding: 1rem;
            margin: 0;
        }

        > * {
            margin: 0.5rem 0;

            &:first-child {
                margin: 0;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}